<template>
  <section class="project-listing-container">
    <h3 class="page-title">Projekte</h3>
    <nuxt-link :to="{ name: 'index-new-project'}" class="edit-link button-big">Neues Projekt</nuxt-link>
    <input type="text" v-model="query" placeholder="Suchen...">

    <article v-for="project in projects" :key="project.slug" class="project-listing">
        <h5 class="page-title-small">{{project.title}}</h5>
        <div class="edit-links">
          <nuxt-link :to="{ name: 'index-projects-slug-edit', params: { slug: project.slug } }" class="edit-link">Edit</nuxt-link>
          <button @click="deleteProject(project)" class="edit-link danger-link">Delete</button>
        </div>
    </article>
  </section>
</template>

<script>
export default {
  data() {
    return {
      query: ""
    }
  },
  computed: {
    projects() {
      let projects = this.$store.getters["projects/sortedProjects"]
      let search = this.query.trim().toLowerCase()
      return projects.filter(project => {
        return project.title.toLowerCase().includes(search)
      })
    },
  },
  methods: {
      async deleteProject(project) {
          await this.$store.dispatch('projects/DELETE_PROJECT', project)
      }   
  },
  transition (to, from) {
    if (!from || from.name == "index") {
      return {
        name: 'slide-right',
        mode: 'out-in'
      }
    } 
    return {
        name: 'slide-left',
        mode: 'out-in'
      }
  }
}
</script>

<style lang="scss">
.project-listing-container {
  position: relative;
  padding-bottom: 100px;
}


.project-listing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.3s;
}

.slide-right-enter {
  transform: translateX(100%);
}

.slide-right-enter-to {
}

.slide-right-leave {
  transform: translateX(-100%);
}

.slide-right-leave-to {
}


.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.3s;
}

.slide-left-enter {
  transform: translateX(-100%);
}

.slide-left-enter-to {
}

.slide-left-leave {
  transform: translateX(100%);
}

.slide-left-leave-to {
}

</style>
