<template>
  <div class="auto-suggest">
    <div class="positionList">
      <div
        v-for="(position, index) in selectedPositions"
        :key="position + '_' + index"
        class="positionListing"
      >
        {{ position }}
        <button class="positionListing-button" @click="removePosition(position)">x</button>
      </div>
    </div>
    <div class="positionInput-container">
      <input
        v-model="query"
        type="text"
        @focus="openSuggestions"
        class="positionInput"
        placeholder="Position hinzufügen"
        @keydown.enter="selectSuggestion(query)"
      />
      <div class="suggestion-list" v-show="isOpen">
        <button
          v-for="suggestion in filteredSuggestions"
          :key="suggestion.title"
          @click="selectSuggestion(suggestion.title)"
          class="suggestion-button"
        >{{suggestion.title}}</button>
        <button
          v-if="this.emptySuggestions"
          @click="selectSuggestion(query)"
          class="suggestion-button"
        >"{{ query }}" hinzufügen</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      query: '',
      isOpen: false
    }
  },
  computed: {
    filteredSuggestions() {
      return this.positions.filter(sug => {
        return sug.title.toLowerCase().includes(this.query.toLowerCase())
      })
    },
    emptySuggestions() {
      return this.filteredSuggestions.length == 0
    },
    selectedPositions() {
      return this.$store.getters['projects/positions']
    },
    positions() {
      return this.$store.state.positions.list
    }
  },
  methods: {
    selectSuggestion(suggestion) {
      this.$store.commit('projects/addPosition', suggestion)
      this.isOpen = false
      this.query = ''
    },
    openSuggestions() {
      this.isOpen = true
    },
    closeSuggestions() {
      this.isOpen = false
    },
    removePosition(pos) {
      this.$store.commit('projects/removePosition', pos)
    },
    handleClickOutside(evt) {
      if (!this.$el.contains(evt.target)) {
        this.isOpen = false
      }
    }
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside)
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside)
  }
}
</script>

<style lang="scss">
.auto-suggest {
  width: 100%;
  position: relative;
}

.suggestion-list {
  position: absolute;
  top: 32px;
  padding-top: 10px;
  left: 0;
  width: 100%;
  background: $color-neutral-900;
  max-width: 480px;
  z-index: 100;
  max-height: 200px;
  overflow-y: scroll;
}

.suggestion-button {
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  padding: 4px 8px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: $color-neutral-400;
  transition: all 0.3s;

  &:hover {
    color: $color-accent-500;
  }
}

.positionList {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  flex-wrap: wrap;
}

.positionListing,
.positionListing-button {
  background-color: $color-neutral-700;
  color: $color-neutral-400;
  border: none;
  padding: 2px 8px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s;
}

.positionListing {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2px;
  align-items: center;
}

.positionListing-button {
  &:hover {
    color: $color-accent-700;
  }
}

.positionInput-container {
  position: relative;
}
</style>
