<template>
  <section class="navigation">
    <h1 class="title">{{greeting}} Gise!</h1>
    <p>Schön, dass du wieder da bist. Was möchtest du heute tun?</p>
    <nav>
      <nuxt-link to="/projects" class="link">Projekte</nuxt-link>
      <nuxt-link to="/photos" class="link">Photos</nuxt-link>
      <nuxt-link to="/new-project" class="link">Neues Projekt</nuxt-link>
    </nav>
    <h5>Letzte Projekte</h5>
    <section class="project-preview-container">
    <nuxt-link :to="{ name: 'index-projects-slug-edit', params: { slug: project.slug } }" class="project-preview" tag="article" v-for="project in projects.slice(0, 3)" :key="project.slug">
          <div class="project-preview-image-container">
            <img class="project-preview-image" :src="getVideoImageLink(project.link)">
            </div>
            <p class="project-preview-title">{{ project.title }}</p>
      </nuxt-link>
    </section>
    <button class="generate-button" @click="generate">Fertigstellen</button>
    <p v-if="generatedSuccessfully" class="generate-message">Deine Projekte und Fotos wurden gespeichert und werden jetzt auf die Webseite hochgeladen.</p>
  </section>
</template>

<script>
export default {
  data() {
    return {
      generatedSuccessfully: false
    }
  },
  computed: {
    projects() {
      return this.$store.getters["projects/sortedProjects"]
    },
    amount() {
        return this.$store.state.projects.list.length
    },
    greeting() {
      let time = new Date().getHours();
      switch (true) {
        case (time < 12): return "Guten Morgen"; break;
        case (time < 17): return "Hallo"; break;
        case (time >= 17): return "Guten Abend"; break;
        default: return "Hallo"; break;
      }
    }
  },
  methods: {
      getVideoId(link) {
      var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
      var match = link.match(regExp);
      if (match && match[2].length == 11) {
        return match[2];
      } else {
        console.log("error fetching youtube's thumbnail")
      }

    },
    getVideoImageLink(link) {
      let videoId = this.getVideoId(link)
      return "https://img.youtube.com/vi/"  + videoId + "/maxresdefault.jpg"
    },
    generate() {
      this.generatedSuccessfully = this.$store.dispatch("projects/GENERATE")
    }

  }
}
</script>

<style lang="scss">
.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 0px;
  max-width: 800px;
  justify-self: center;

  h5 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
  }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px 0 80px;
}

.link {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding: 0;
    color: $color-neutral-500;
    display: block;
    font-size: 20px;
    letter-spacing: .05em;
    width: max-content;
    position: relative;
    margin-right: 20px;

    &:after {
        content: "";
        width: 100%;
        height: 1px;
        background: $color-accent-500;
        opacity: 0;
        transition: all .3s;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &:hover {
        color: $color-primary-100;

        &:after {
            bottom: -10px;
            opacity: 1;
        }
    }

    &.nuxt-link-exact-active {
        color: $color-primary-100;
    }
}

.title {
  color: $color-neutral-100;
}

.project-preview-container {
    display: grid;
    width: 100%;
    position: relative;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    background: $color-neutral-900;
    padding: 0px;
    margin: 10px 0 120px;
}

.project-preview {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        .project-preview-title {
            color: $color-primary-100;
        }
    }
    
}

.project-preview-title {
    width: 100%;
    text-align: center;
    font-size: 20px;

}

.project-preview-image-container {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 2px 4px 4px rgba($color-neutral-900, .05), 2px 4px 16px rgba($color-neutral-900, .15);
    
}

.project-preview-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    
}

.generate-button {
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    background: $color-neutral-800;
    color: $color-primary-500;
    outline: none;
    font-weight: 300;
    align-self: flex-end;

    &:hover {
        color: $color-neutral-800;
        background: $color-primary-500;
    }
}

.generate-message {
  align-self: flex-end;
  color: $color-primary-500;
  margin-top: 30px;
}
</style>
