<template>
  <div class="form-container">
    <div class="form-row">
      <label for="title">Title</label>
      <input id="title" type="text" v-model="title" placeholder="Titel hinzufügen" />
    </div>
    <div class="form-row">
      <label for="link">Link</label>
      <input id="link" type="text" v-model="link" placeholder="Link hinzufügen" />
    </div>
    <div class="form-row">
      <label for="director">Director</label>
      <input type="text" id="director" v-model="director" placeholder="Director hinzufügen" />
    </div>
    <div class="form-row">
      <label for="camera">Camera</label>
      <input type="text" id="camera" v-model="camera" placeholder="Camera hinzufügen" />
    </div>
    <div class="form-row">
      <label for="production">Production</label>
      <input type="text" id="prodction" v-model="production" placeholder="Production hinzufügen" />
    </div>
    <div class="form-row">
      <label for="positions">Positions</label>
      <AutoSuggest id="positions" />
    </div>
    <div class="form-row">
      <label for="year">Year</label>
      <input type="number" id="year" v-model.number="year" placeholder="Jahr hinzufügen" />
    </div>
    <div class="form-row">
      <label for="additional_jobs">Additional Jobs</label>
      <input
        id="additional_jobs"
        type="text"
        v-model="additional_jobs"
        placeholder="Weitere Jobs hinzufügen"
      />
    </div>
    <div class="form-row">
      <label for="description">Description</label>
      <textarea v-model="description" placeholder="Beschreibung hinzufügen" id="description"></textarea>
    </div>
    <div class="form-row">
      <label for="displayInProjects" class="checkboxLabel">
        In Projekten anzeigen
        <span
          class="checkboxSpan"
          :class="{'is-checked': display_in_projects}"
        ></span>
        <input
          id="displayInProjects"
          type="checkbox"
          v-model="display_in_projects"
          class="checkboxInput"
        />
      </label>
    </div>
    <div class="form-row">
      <label for="isStickied" class="checkboxLabel">
        Oben anheften
        <span class="checkboxSpan" :class="{'is-checked': is_stickied}"></span>
        <input id="isStickied" type="checkbox" v-model="is_stickied" class="checkboxInput" />
      </label>
    </div>
  </div>
</template>

<script>
import AutoSuggest from '@/components/AutoSuggest.vue'

export default {
  components: {
    AutoSuggest
  },
  computed: {
    title: {
      get() {
        return this.$store.state.projects.activeProject.title
      },
      set(value) {
        this.$store.commit('projects/updateTitle', value)
      }
    },
    link: {
      get() {
        return this.$store.state.projects.activeProject.link
      },
      set(value) {
        this.$store.commit('projects/updateLink', value)
      }
    },
    director: {
      get() {
        return this.$store.state.projects.activeProject.director
      },
      set(value) {
        this.$store.commit('projects/updateDirector', value)
      }
    },
    camera: {
      get() {
        return this.$store.state.projects.activeProject.camera
      },
      set(value) {
        this.$store.commit('projects/updateCamera', value)
      }
    },
    production: {
      get() {
        return this.$store.state.projects.activeProject.production
      },
      set(value) {
        this.$store.commit('projects/updateProduction', value)
      }
    },
    position: {
      get() {
        return this.$store.state.projects.activeProject.positions
      },
      set(value) {
        this.$store.commit('projects/updatePositions', value)
      }
    },
    year: {
      get() {
        return this.$store.state.projects.activeProject.year
      },
      set(value) {
        this.$store.commit('projects/updateYear', value)
      }
    },
    additional_jobs: {
      get() {
        return this.$store.state.projects.activeProject.additional_jobs
      },
      set(value) {
        this.$store.commit('projects/updateAdditionalJobs', value)
      }
    },
    description: {
      get() {
        return this.$store.state.projects.activeProject.description
      },
      set(value) {
        this.$store.commit('projects/updateDescription', value)
      }
    },
    display_in_projects: {
      get() {
        return this.$store.state.projects.activeProject.display_in_projects
      },
      set(value) {
        this.$store.commit('projects/updateDisplayInProjects', value)
      }
    },
    is_stickied: {
      get() {
        return this.$store.state.projects.activeProject.is_stickied
      },
      set(value) {
        this.$store.commit('projects/updateIsStickied', value)
      }
    },
    positions() {
      return this.$store.state.positions.list
    }
  }
}
</script>

<style lang="scss">
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row {
  width: 100%;
  position: relative;
}

.new-position {
  position: absolute;
  top: 0px;
  height: 42px;
  right: 0px;
  width: 42px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

label {
  color: $color-neutral-500;
  font-size: 12px;
  font-weight: 600;
  display: block;
  letter-spacing: 0.1em;
  margin: 0px;
  padding: 0px;
}

input:not([type='checkbox']) {
  @include inputstyle;
  max-width: 480px;

  &[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }
}

select {
  @include inputstyle;
  max-width: 480px;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  box-sizing: border-box;
  position: relative;
}

.select-css::-ms-expand {
  display: none;
}

option {
  padding: 0;
}

textarea {
  @include inputstyle;
  max-width: 480px;
  height: 240px;

  &:focus-within {
    height: 256px;
  }
}

.checkboxLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.checkboxInput {
  display: none;
}

.checkboxSpan {
  width: 20px;
  height: 20px;
  background-color: $color-neutral-700;
  display: block;
  transition: background-color 0.3s;
  position: relative;
  text-align: center;

  &:before {
    content: '✓';
    position: absolute;
    left: 0;
    top: 0;
    color: $color-accent-500;
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.3s;
  }

  &.is-checked {
    &:before {
      opacity: 1;
      transform: scale(1);
    }
  }
}
</style>
