<template>
    <section class="project-edit-container">
        <h3 class="page-title">Neues Projekt</h3>
        <ProjectForm></ProjectForm>
        <button @click="createProject()" class="edit-link">Erstellen</button>
    </section>
</template>

<script>
import ProjectForm from "@/components/ProjectForm"

export default {
    components: {
        ProjectForm
    },
    computed: {
        project() {
            return this.$store.state.projects.activeProject
        },
        positions() {
            return this.$store.state.positions.list
        }
    },
    methods: {
        createProject() {
            this.$store.dispatch("projects/CREATE_PROJECT").then((slug) => {
                this.$nuxt.$router.push({ name: 'index-projects' })
            })
        }
    },
    transition: {
        name: "slide-right"
    },
    fetch ({ store, route }) {
        return store.dispatch("projects/NEW_PROJECT")
  }
}
</script>

<style lang="scss">

</style>
