@mixin inputstyle {
  padding: 0px 0px;
  background: none;
  border: 1px solid transparent;
  color: $color-primary-300;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-radius: 0px;
  transition: all 0.3s;
  margin: 10px 0 25px;
  position: relative;
  width: 100%;

  &:hover {
    border: 1px solid $color-neutral-600;
  }
  &:focus-within {
    color: $color-primary-100;
    background: $color-neutral-900;
    border: 1px solid transparent;
    padding: 8px 8px;
    margin: 2px 0 17px;
  }

  &::placeholder {
    color: $color-neutral-500;
    transition: all 0.3s;
  }
}
