<template>
  <div class="container">
    <Navigation />
    <div class="page-container">
      <nuxt-child/>
    </div>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation"

export default {
  components: {
    Navigation
  },
  computed: {
    projects() {
      return this.$store.state.projects.list
    }
  }

}
</script>

<style lang="scss">
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $color-neutral-300;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  image-orientation: from-image;
}

.container {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 60% 40%;
  background: $color-neutral-900;
}

.page-container {
  width: 90%;
  height: 90%;
  background: $color-neutral-800;
  padding: 100px 60px;
  justify-self: center;
  align-self: center;
  box-shadow: 2px 4px 4px rgba($color-neutral-900, .05), 2px 4px 16px rgba($color-neutral-900, .15);
  overflow-y: scroll;
  border-left: 5px solid $color-primary-500;
}

.page-title {
  font-weight: 300;
  color: $color-primary-100;
  font-size: 30px;
  margin-bottom: 40px;
}

.page-title-small {
  font-weight: 400;
  color: $color-neutral-300;
  font-size: 24px;
}

.edit-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .edit-link:nth-child(2) {
    margin-left: 10px;
  }
}

.edit-link {
  background: $color-neutral-900;
  color: $color-primary-500;
  border: 1px solid transparent;
  font-size: 16px;
  padding: 8px 16px;
  font-weight: 400;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  display: block;
  box-shadow: 2px 4px 4px rgba($color-neutral-900, .05), 2px 4px 16px rgba($color-neutral-900, .15);

  &:hover {
    color: $color-primary-300;
    background: $color-primary-700;
    cursor: pointer;
  }
}

.danger-link {
  color: $color-accent-500;

  &:hover {
    color: $color-primary-300;
    background: $color-accent-700;
  }
}

.button-big {
  position: absolute;
  font-weight: 600;
  top: 0px;
  right: 0px;
  padding: 12px 18px;
  color: $color-primary-300;

  &:hover {
    background: $color-primary-300;
    color: $color-neutral-800;
  }
}

.title {
  display: block;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 1px;
  margin-bottom: 60px;
}

.links {
  padding-top: 15px;
}

.submit-button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid $color-neutral-500;
  color: $color-neutral-500;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 24px;
  margin: 24px 0;
}
</style>
