<template>
  <section class="photo-container">
    <h3 class="page-title">Photos</h3>
    <nuxt-link :to="{ name: 'index-photos-upload'}" class="edit-link button-big">Upload</nuxt-link>
    <div class="photo-listing-container">
      <article v-for="photo in photos" :key="photo.name" class="photo-listing">
        <div class="photo" @click="enlargeImage(photo)">
          <img :src="photo.thumbnail.link" />
          <ZoomIn class="photo-zoom-in" />
        </div>
        <button @click="deletePhoto(photo.name)" class="edit-link danger-link photo-delete">Delete</button>
      </article>
    </div>
    <transition name="fade">
      <div class="zoom-container" v-if="zoomedIn" @click="zoomOut">
        <img :src="activePhoto.full.link" />
        <p>{{ activePhoto.name }}</p>
      </div>
    </transition>
  </section>
</template>

<script>
import ZoomIn from '@/components/icons/ZoomIn'

export default {
  components: {
    ZoomIn
  },
  data() {
    return {
      activePhoto: null,
      zoomedIn: false
    }
  },
  computed: {
    photos() {
      return this.$store.state.photos.list
    }
  },
  methods: {
    async deletePhoto(name) {
      await this.$store.dispatch('photos/DELETE', name)
    },
    enlargeImage(photo) {
      this.activePhoto = photo
      this.zoomedIn = true
    },
    zoomOut() {
      this.zoomedIn = false
    }
  },
  transition(to, from) {
    if (!from || from.name == 'index') {
      return {
        name: 'slide-right',
        mode: 'out-in'
      }
    }
    return {
      name: 'slide-left',
      mode: 'out-in'
    }
  }
}
</script>

<style lang="scss">
.photo-container {
  position: relative;
}

.photo-listing-container {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  width: 100%;
}

.photo-listing {
  display: block;
  width: 100%;
  position: relative;

  img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    transition: all 0.3s;
  }
}

.photo-zoom-in {
  display: block;
  width: 45px;
  height: auto;
  position: absolute;
  top: calc(50% - 22.5px);
  left: calc(50% - 22.5px);
  opacity: 0;
  fill: $color-primary-500;
  z-index: 20;
  transition: all 0.3s;
}

.photo {
  cursor: zoom-in;
  position: relative;
  &:hover {
    img {
      filter: blur(2px) brightness(70%);
    }
    .photo-zoom-in {
      opacity: 1;
    }
  }
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.3s;
}

.slide-right-enter {
  transform: translateX(100%);
}

.slide-right-enter-to {
}

.slide-right-leave {
  transform: translateX(-100%);
}

.slide-right-leave-to {
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.3s;
}

.slide-left-enter {
  transform: translateX(-100%);
}

.slide-left-enter-to {
}

.slide-left-leave {
  transform: translateX(100%);
}

.slide-left-leave-to {
}

.zoom-container {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  z-index: 30;
  background: $color-neutral-900;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-primary-300;
  font-size: 18px;
  cursor: zoom-out;

  img {
    height: 100%;
    max-width: 1024px;
    max-height: 800px;
    display: block;
    margin-bottom: 10px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: scale(0);
}
</style>
