<template>
  <section class="photo-container">
    <h3 class="page-title">Upload</h3>
    <div class="upload-dropbox">
      <input
        type="file"
        name="files"
        ref="files"
        multiple
        @change="handleFileUpload"
        accept="image/*"
        class="upload-input"
      />
      <p v-if="!uploadsAvailable">
        Drag your file(s) here to begin
        <br />or click to browse
      </p>
      <p v-if="uploadsAvailable">{{ fileCount }} Foto(s) zum Upload bereit...</p>
    </div>
    <button :disabled="!uploadsAvailable" @click="uploadPhotos" class="edit-link">Upload</button>
    <div class="uploads" v-if="uploadsAvailable">
      <h5>Photos zum Upload</h5>
      <ul class="upload-preview-container">
        <li
          v-for="file in uploads"
          :key="file.name"
          class="upload-preview"
          @click="removeFile(file)"
        >
          <img :src="getObjectUrl(file)" />
          <svg
            class="cancel"
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 612 612"
            style="enable-background:new 0 0 612 612;"
            xml:space="preserve"
          >
            <g>
              <g id="cross">
                <g>
                  <polygon
                    points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397 
				306,341.411 576.521,611.397 612,575.997 341.459,306.011 			"
                  />
                </g>
              </g>
            </g>
          </svg>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      uploads: []
    }
  },
  computed: {
    uploadsAvailable() {
      return this.uploads.length > 0
    },
    fileCount() {
      return this.uploads.length
    }
  },
  methods: {
    async uploadPhotos() {
      await this.$store.dispatch('photos/UPLOAD', this.uploads)
      this.$nuxt.$router.push({ name: 'index-photos' })
    },
    handleFileUpload() {
      this.uploads = [...this.$refs.files.files]
    },
    removeFile(file) {
      this.uploads = this.uploads.filter(f => {
        return f.name != file.name
      })
    },
    getObjectUrl(file) {
      return URL.createObjectURL(file)
    }
  },
  transition() {
    return 'slide-right'
  }
}
</script>

<style lang="scss">
.upload-dropbox {
  // outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: $color-neutral-700;
  border: 1px solid transparent;
  color: $color-primary-300;
  font-size: 18px;
  padding: 0;
  min-height: 200px; /* minimum height */
  height: 200px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  max-width: 480px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;

  &:hover {
    border: 1px solid $color-primary-700;
  }

  p {
    position: absolute;
    top: 50%;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
  }
}

.upload-input {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
  z-index: 1000;
}

.uploads {
  h5 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
  }
  margin-top: 40px;
}

.upload-preview-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 17.5%);
  grid-column-gap: 2.5%;
}

.upload-preview {
  display: block;
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.3s;
    image-orientation: from-image;
  }

  .cancel {
    width: 45px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(50% - 22.5px);
    fill: $color-accent-900;
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover {
    .cancel {
      opacity: 1;
    }

    img {
      filter: blur(2px);
    }
  }
}
</style>
