<template>
    <section class="project-edit-container">
        <h3 class="page-title">Edit: {{ project.title }}</h3>
        <ProjectForm></ProjectForm>
        <button @click="updateProject()" class="edit-link">Update</button>
    </section>
</template>

<script>
import ProjectForm from "@/components/ProjectForm"

export default {
    components: {
        ProjectForm
    },
    computed: {
        project() {
            return this.$store.state.projects.activeProject
        },
        positions() {
            return this.$store.state.positions.list
        }
    },
    methods: {
        updateProject() {
            this.$store.dispatch("projects/UPDATE_PROJECT").then((slug) => {
                this.$nuxt.$router.push({ name: 'index-projects', params: { slug: slug }})
            })
        }
    },
    transition: {
        name: "slide-right"

    },
    fetch ({ store, route }) {
        return store.commit("projects/SET_ACTIVE", route.params.slug)
  }
}
</script>

<style lang="scss">
.project-edit-container {
    padding-bottom: 100px;
}

</style>
